<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css" media="screen" />
    <link rel="stylesheet" href="../css/header.css" media="screen" />
    <link rel="stylesheet" href="../css/aside.css" media="screen" />
    <link rel="stylesheet" href="../css/main.css" media="screen" />
    <link rel="stylesheet" href="../css/footer.css" media="screen" />
    <link rel="stylesheet" href="../css/style.css" media="screen" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dbf2a4a234.js" crossorigin="anonymous"></script>
    <title>Santiago Gonzalez</title>
</head>
<body id="body">
    <div id="header">
        <span class="hamburger"><i class="fa-solid fa-bars"></i>
        </span>
        <span id="radium">
            Radium
        </span>
        <span id="rocket">
            Rocket
        </span>
    </div>
    <div class="main-container">
        <aside>
            <nav>
                <span id="menu">
                    Menu
                </span>
                <p id="menu-line"></p>
                <ul>
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="sign-up.html">
                            Sign up
                        </a>
                    </li>
                    <li>
                        <a href="login.html">
                            Login
                        </a>
                    </li>
                </ul>
            </nav>
            <span id="contact-us">
                Contact us
            </span>
            <p id="contact-line"></p>
            <p>
                Contact whit us! to see more information click the links below.
            </p>
            <div class="contact">
                <ul>
                    <li>
                        <i class="fa-regular fa-envelope"></i>
                        <a href="#">
                            contact@trackgenix.com
                        </a>
                    </li>
                    <li>
                        <i class="fa-regular fa-envelope"></i>
                        <a href="#">
                            +1 555-000-555
                        </a>
                    </li>
                    <li>
                        <i class="fa-solid fa-house"></i>
                        <a href="#">
                            1234 Somewhere Road #8254 Nashville, TN 00000-0000
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="main-footer">
            <main>
                <section class="trackgenix">
                    <div class="section">
                        <div class="text-container">
                            <h1>
                                Trackgenix
                            </h1>
                            <p class="first">
                                We are a 20 years old company wich objetive is to provide software development services
                                to
                                facilitate companies in the human resources area.
                            </p>
                            <p class="second">
                                This software will help the tracing of your employees in each area of the enterprise,
                                giving an
                                easier way to follow the movements. With the chance of choice roles, change hours,
                                report anyone
                                on an intuitive interface of user.
                            </p>
                        </div>
                        <div class="clock">
                            <img src="/images/clock.jpg" alt="Clock">
                        </div>
                    </div>
                </section>
                <h2 class="title-section">
                    Functionalities
                </h2>
                <div class="card-section">
                    <div class="card">
                        <div class="star"><img src="/images/star.png" alt="star"></div>
                        <div class="container">
                            <h3>
                                Timesheet
                            </h3>
                            <p>
                                You can track the hours of work of each employee whit efficacy. Is a very useful tool
                                for
                                recording the amount of a worker's time spent on each job.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="star"><img src="/images/star.png" alt="star"></div>
                        <div class="container">
                            <h3>
                                Reports
                            </h3>
                            <p>
                                This section will make the work so much easier, because include a section where you can
                                do the reports of your company, co-workers and staff.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="star"><img src="/images/star.png" alt="star"></div>
                        <div class="container">
                            <h3>
                                Resource managment
                            </h3>
                            <p>
                                Good resource management results in the right resources being available at the right
                                time for the right work.
                                Resources are essential to reach your goal.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="star"><img src="/images/star.png" alt="star"></div>
                        <div class="container">
                            <h3>
                                Roles
                            </h3>
                            <p>
                                Assign roles to anyone on the work team. Admin, super admin, project manager are some of
                                the roles that you can change.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="borderline">
                    <p></p>
                </div>
                <section>
                    <h2 class="title-section">
                        ¿Why do you use Trackgenix?
                    </h2>
                    <div class="card-section">
                        <div class="card">
                            <div class="star"><img src="/images/star.png" alt="star"></div>
                            <div class="container">
                                <h3>
                                    Productivity booster
                                </h3>
                                <p>
                                    Encrease exponientaly the productivity in your company.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="star"><img src="/images/star.png" alt="star"></div>
                            <div class="container">
                                <h3>
                                    Work tracking
                                </h3>
                                <p>
                                    Trackgenix will help you to see any movement of your employees.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="star"><img src="/images/star.png" alt="star"></div>
                            <div class="container">
                                <h3>
                                    Leadership and team managment
                                </h3>
                                <p>
                                    Super admin, admin and project manager roles can sumbit any changes of the team in
                                    charge.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="star"><img src="/images/star.png" alt="star"></div>
                            <div class="container">
                                <h3>
                                    Decision making
                                </h3>
                                <p>
                                    Remove employees or proyects, change roles or hours are some of the many things you
                                    can
                                    do with
                                    Trackgenix.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="borderline">
                    <p></p>
                </div>
                <section>
                    <h2 class="title-section">
                        Ask for information
                    </h2>
                    <form>
                        <div class="placeholder">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                        </div>
                        <h4 class="contact-area">
                            Contact area:
                        </h4>
                        <div class="form-selector">
                            <div class="sistems">
                                <input type="radio">
                                <label>Human Resources</label>
                            </div>
                            <div class="sistems">
                                <input type="radio">
                                <label>Sistems</label>
                            </div>
                            <div class="sistems">
                                <input type="radio">
                                <label>Commercialization</label>
                            </div>
                        </div>
                        <textarea name="" placeholder="Enter your message" id="" cols="30" rows="10"></textarea>
                        <div class="button">
                            <div class="message">
                                <input type="submit" value="SEND MESSAGE">
                            </div>
                            <div class="reset">
                                <input type="submit" value="RESET">
                            </div>
                        </div>
                    </form>
                </section>
                <div class="borderline">
                    <p></p>
                </div>
                <h2 class="title-section">
                    About us
                </h2>
                <div class="about-us">
                    <div class="about-paragraph">
                        <p>
                            We are a crecient company who cares about the managment of your employees, and because of
                            that,
                            Trackgenix is the best way to tracking what they do in each of the areas of your
                            enterprise.
                        </p>
                    </div>
                    <img class="logo-rr" src="/images/logo RR.jpg" alt="Logo Radium Rocket">
                </div>
                <div class="borderline">
                    <p></p>
                </div>
                <div class="last-section">
                    <div class="list">
                        <h5>
                            Products
                        </h5>
                        <ol>
                            <li>
                                Features
                            </li>
                            <li>
                                Downloads
                            </li>
                            <li>
                                Integrations
                            </li>
                            <li>
                                Extras
                            </li>
                        </ol>
                    </div>
                    <div class="list">
                        <h5>
                            Company
                        </h5>
                        <ol>
                            <li>
                                About us
                            </li>
                            <li>
                                Clients
                            </li>
                            <li>
                                Resources
                            </li>
                            <li>
                                Blog
                            </li>
                        </ol>
                    </div>
                    <div class="list">
                        <h5>
                            Support
                        </h5>
                        <ol>
                            <li>
                                Help
                            </li>
                            <li>
                                Tutorials
                            </li>
                            <li>
                                API
                            </li>
                            <li>
                                Contact
                            </li>
                        </ol>
                    </div>
                </div>
            </main>
            <footer>
                <div class="rrss">
                    <a class="icons" href="#">
                        <img src="/images/linkedin.png" alt="Linkedin">
                    </a>
                    <a class="icons" href="#">
                        <img src="/images/twitter.png" alt="Twitter">
                    </a>
                    <a class="icons" href="#">
                        <img src="/images/whatsapp.png" alt="WhatsApp">
                    </a>
                    <a class="icons" href="#">
                        <img src="/images/facebook.png" alt="Facebook">
                    </a>
                </div>
                <div class="footer-text">
                    <p class="footer-p">Trackgenix &copy;</p>
                </div>
            </footer>
        </div>
    </div>
    </div>
</body>
</html>