<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sign up</title>
</head>
<body>
    <div id="header">
        <span class="hamburger"><i class="fa-solid fa-bars"></i>
        </span>
        <span id="radium">
            Radium
        </span>
        <span id="rocket">
            Rocket
        </span>
    </div>
    <main>
        <form>
            <h1>Sign up</h1>
            <div>
                <label>Name</label>
                <input type="text" id="name" placeholder="Name">
                <p id="nameErrorLength" class="hidden">Error: write 3 characters or more</p>
                <p id="nameErrorCaracter" class="hidden">Error: write characters only</p>
            </div>
            <div>
                <label>Surname</label>
                <input id="surname" type="name" placeholder="Surname">
                <p id="surnameErrorLength" class="hidden">Error: write 3 characters or more</p>
                <p id="surnameErrorCaracter" class="hidden">Error: write characters only</p>
            </div>
            <div>
                <label>DNI</label>
                <input type="text" id="dni" placeholder="DNI">
                <p id="dniErrorLength" class="hidden">Error: write 7 characters or more</p>
                <p id="dniErrorCaracter" class="hidden">Error: only numbers</p>
            </div>
            <div>
                <label>Date of birth</label>
                <input type="text" id="date" placeholder="Date of birth">
                <p id="dateError" class="hidden">Error: dd/mm/yyyy</p>
            </div>
            <div>
                <label>Phone</label>
                <input type="text" id="phone" placeholder="Phone">
                <p id="phoneErrorLength" class="hidden">Error: write 10 numbers</p>
                <p id="phoneErrorCaracter" class="hidden">Error: only numbers</p>
            </div>
            <div>
                <label>Address</label>
                <input type="text" id="address" placeholder="Address">
                <p id="addressErrorLength" class="hidden">Error: write at least 5 characters</p>
                <p id="addressErrorSpace" class="hidden">Error: it must be an space between</p>
                <p id="addressErrorCaracter" class="hidden">Error: write numbers and letters</p>
                <p id="addressErrorCaracterSpecial" class="hidden">Error: don't write special characters</p>
            </div>
            <div>
                <label>Location</label>
                <input type="text" id="location" placeholder="Location">
                <p id="locationErrorLength" class="hidden">Error: at least 3 characters</p>
                <p id="locationErrorCaracter" class="hidden">Error: only alphanumeric text</p>
            </div>
            <div>
                <label>Postal code</label>
                <input type="text" id="postal" placeholder="Postal code">
                <p id="postalErrorLength" class="hidden">Error: write only numbers</p>
                <p id="postalErrorCaracter" class="hidden">Error: between 4 and 5 caracteres</p>
            </div>
            <div>
                <label>Email</label>
                <input type="text" id="email" placeholder="Email">
                <p id="emailError" class="hidden">Error: enter valid mail</p>
            </div>
            <div>
                <label>Password</label>
                <input type="password" id="password" placeholder="Password">
                <p id="passwordErrorLength" class="hidden">Error: write at least 8 characters</p>
                <p id="passwordErrorCaracter" class="hidden">Error: only text and numbers</p>
            </div>
            <div class="div-int">
                <div class="last-div">
                    <label>Repeat Password</label>
                    <input id="passwordRepeat" type="password" placeholder="Password">
                </div>
            </div>
            <div class="buttons">
                <button id="btn-signup" onclick="getData()">Sign up</button>
                <button class="btn-cancel"><a href="index.html">Cancel</a></button>
            </div>
        </form>
    </main>
    <footer>
        <div class="rrss">
            <a class="icons" href="#">
                <img src="/images/linkedin.png" alt="Linkedin">
            </a>
            <a class="icons" href="#">
                <img src="/images/twitter.png" alt="Twitter">
            </a>
            <a class="icons" href="#">
                <img src="/images/whatsapp.png" alt="WhatsApp">
            </a>
            <a class="icons" href="#">
                <img src="/images/facebook.png" alt="Facebook">
            </a>
        </div>
        <div class="footer-text">
            <p class="footer-p">Trackgenix &copy;</p>
        </div>
    </footer>
    <script src="../javascript/sign-up.js"></script>
</body>
</html>