<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Log in</title>
</head>
<body>
    <div id="header">
        <span class="hamburger"><i class="fa-solid fa-bars"></i>
        </span>
        <span id="radium">
            Radium
        </span>
        <span id="rocket">
            Rocket
        </span>
    </div>
    <main>
        <form>
            <h1>Log in</h1>
            <div>
                <label>Email</label>
                <input id="email" type="text" placeholder="Email">
                <p id="emailError" class="hidden">Error: enter valid mail</p>
            </div>
            <div>
                <label>Password</label>
                <input id="password" type="password" placeholder="Password">
                <p id="passwordErrorLength" class="hidden">Error: write at least 8 characters</p>
                <p id="passwordErrorCaracter" class="hidden">Error: only text and numbers</p>
            </div>
            <div class="buttons">
                <button id="btn-login"><a href="">Continue</a></button>
                <button class="btn-cancel"><a href="index.html">Cancel</a></button>
            </div>
        </form>
    </main>
    <footer>
        <div class="rrss">
            <a class="icons" href="#">
                <img src="/images/linkedin.png" alt="Linkedin">
            </a>
            <a class="icons" href="#">
                <img src="/images/twitter.png" alt="Twitter">
            </a>
            <a class="icons" href="#">
                <img src="/images/whatsapp.png" alt="WhatsApp">
            </a>
            <a class="icons" href="#">
                <img src="/images/facebook.png" alt="Facebook">
            </a>
        </div>
        <div class="footer-text">
            <p class="footer-p">Trackgenix &copy;</p>
        </div>
    </footer>
    <script src="../javascript/login.js"></script>
</body>
</html>