aside{
    flex-direction: column;
    display: flex;
    width: 21.4em;
    background-color: #D9D9E2;
    height: 100;
    flex: 1;
    height: auto;
    padding-top: 50px;
}
#menu{
    display: flex;
    font-family: 'roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #373867;
    margin-left: 10%;
    margin-top: 2.5em;
    margin-right: 20%;
}
#menu-line{
    border-bottom: 5px solid #AACE9B;
    margin-left: 2.7em;
    margin-right: 18.5em;
    margin-top: 0;
}
nav ul{
    margin-top: 2.5em;
}
nav ul li{
    margin-top: 1em;
    width: 17em;
    margin-left: 2.7em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 4% 3% 3% 0;
    font-size: 0.8em;
    line-height: 1em;
    border-bottom: 1px solid #373867;
}
nav ul li a{
    text-decoration: none;
    color: #373867;
}
#contact-line{
    border-bottom: 5px solid #AACE9B;
    margin-top: 0;
    margin-left: 2.5em;
    margin-right: 12em;
}
aside p{
    font-family: 'roboto', sans-serif;
    font-size: .75em;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 1em;
    color: #373867;
}
.contact{
    display: flex;
    margin-top: 2.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
}
.contact ul li{
    color: #373867;
    margin-left:3em;
    margin-top: 1.5em;
}
.contact ul li a{
    margin-left: 1em;
    color: #373867;
    text-decoration: none;
    flex-direction: column;
}