footer{
    background-color: #D9D9E2;
    margin-top: 100px;
    display: flex;
}
.icons{
    display: flex;
    flex-direction: column;
}
img .icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}