body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
@media (max-width:780px) {
    body aside{
        display: none;
    }
    .hamburger{
        display: flex;
    }
    
}
